@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.wrapper-whatsappbutton {
    display: inline-block;
    position: fixed;
    opacity: 0.7;
    text-indent: -99999;
    z-index: 1000;
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
}

.whatsappbutton-bottom-right {
    right: 10px;
    bottom: 10px;
}

.whatsappbutton-bottom-left {
    left: 10px;
    bottom: 10px;
}

.whatsappbutton-top-right {
    right: 10px;
    top: 10px;
}

.whatsappbutton-top-left {
    left: 10px;
    top: 10px;
}

.whatsappbutton-pulse {
    animation-name: pulse;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.wrapper-whatsappbutton a,
.wrapper-whatsappbutton a:hover {
    text-decoration: none;
}

.wrapper-whatsappbutton:hover {
    opacity: 0.9;
}
